<header>
  <nav class="navbar navbar-dark bg-dark">
    <h1>Imanuel Chatur</h1>
    <ul>
      <li><a routerLink="home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="about" routerLinkActive="active">About</a></li>
      <li><a routerLink="projects" routerLinkActive="active">Projects</a></li>
    </ul>
    <mat-drawer-container>
      <mat-drawer #drawer mode="side">
        <p>Resize!</p>
      </mat-drawer>
    </mat-drawer-container>
    <button (click)="drawer.toggle()"> click me!</button>
  </nav>
</header>

