<h1>Projects!</h1>
<div class="project-container">
  <mat-card class="project-card">
    <mat-card-header>
      <mat-card-title>Quiz Game!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4>Quizzes</h4>
      <ul>
        <li *ngFor="let q of quizList;">
          <button (click)="setQuiz(q)" routerLinkActive="active" routerLink="quiz">{{q.slice(0,q.length-5)}}</button>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="project-card">
    <mat-card-header>
      <mat-card-title>Placeholder</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
