.project-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px ;

}
.project-card{
  margin: 10px 10px 10px 10px;
  width: 100%;
  padding: 10px;
}

.card-list{
  display: flex;
  list-style-type: none;
  padding: 10px;
}

.project-head{
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-head h1{
  font-size: 32px;
}
