<div class="head">
  <h1 class="center">{{ title }}</h1>
  <p class="center">{{desc}}</p>
</div>
<div *ngIf="isQuizStarted">
  <mat-card class="question-text-card center">
    <mat-card-header>
      <mat-card-title>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h4>{{ questions[qIndex].question}}</h4>
      <h4>({{qIndex + 1}}/{{questions.length}})</h4>
    </mat-card-content>
  </mat-card>
  <br>
<mat-card class="question-card center">
  <mat-card-header>
    <mat-card-title>Score: {{score}} / {{questions.length}}</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="!displaySummary">
    <ul class="options-list">
      <li *ngFor="let q of questions[qIndex]?.options; let i = index">
        <button mat-fab extended class="question-button" (click)="answerQuestion(i)">{{q}}</button>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-content *ngIf="displaySummary">
    <p>Your answer: {{questions[qIndex].options[selected]}}</p>
    <p>Correct answer: {{questions[qIndex].options[questions[qIndex].answer_index]}}</p>
    <button mat-raised-button color="primary" class="question-button" (click)="nextQuestion()">Next</button>
  </mat-card-content>
</mat-card>
</div>
<div>
  <mat-card *ngIf="!isQuizStarted" class="question-card center">
    <mat-card-header>
      <mat-card-title>Quiz Summary :(</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h2>Summary</h2>
      <p>{{score}}/{{questions.length}} = {{score / questions.length * 100}}%</p>
      <p>that's rough buddy :0</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="question-button"
              routerLinkActive="active" routerLink="..">Return</button>
    </mat-card-actions>
  </mat-card>
</div>
<p></p>
