<h1>{{ title }}</h1>
<p>{{desc}}</p>
<br><br>

<mat-card class="question-card">
  <mat-card-header>
    <mat-card-title class="q-header">{{ questions[qIndex]?.question }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul *ngFor="let q of questions[qIndex]?.options; let i = index">
      <button mat-raised-button (click)="answerQuestion(i)">{{q}}</button>
    </ul>
    <button mat-raised-button color="primary" (click)="nextQuestion()">Next</button>
  </mat-card-content>
</mat-card>
<p>Score: {{score}} / {{questions.length}}</p>
