.question-card { /*Mat card*/
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  align-items: center;
  width: 75%;
}

.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.options-list { /* <ul> list*/
  list-style-type: none;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.options-list li button {
  display: flex;
  padding: 10px;
  width: 100%;
  min-width: 300px;
  align-content: center;
}

.next-button-container {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.question-button {
  width: 5%;
}

.head{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
