.question-card {
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  align-content: center;
  text-align: center;
  max-width: 75%;
}

.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.options-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.options-list li button {
  width: 500%;
  max-width: 400px;
  align-content: center;
}

.next-button-container {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.question-button {
  width: 80%;
  max-width: 1px;
}
