@use '@angular/material' as mat;

html, main{
  //Theming
  color-scheme: light;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0,
  ));
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);

  //Positioning
  display: flex;
  flex-direction: column;

}

footer{
}
