@use '@angular/material' as mat;

html{
  //Theming
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0,
  ));
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);

  //Positioning
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
